  <footer class="footer">
    <div class="columns">
    <div class="column">
      <li class="textoIcon" style="margin-left: 7%">Copyright @2018 Ronald, Career Services Group</li>
      <li style="color: #505050; margin-left: 7%">
        <span style="color: #168F04" class="glyphicon glyphicon-envelope"><span class="textoIcon">info@jobfit.com.pe</span></span>
        <span style="color: #168F04" class="glyphicon glyphicon-phone"><span class="textoIcon">+51-1-321-4416</span></span>
      </li>
    </div>
    <div class="column social">
      <div class="columns icons items">
        <img src="src/assets/imagenes/fb.png">
        <img style="margin-left: 20px" src="src/assets/imagenes/linkedin.png">
        <img style="margin-left: 20px" src="src/assets/imagenes/twitter.png">
        <img style="margin-left: 20px" src="src/assets/imagenes/youtube.png">
      </div>
    </div>
    </div>
  </footer>
