<div class="titleBox"><b>Resumen de compra</b></div>
<div class="titleBox">Por favor, revise si la información suministrada es correcta y proceda a efectuar el pago
  correspondiente.</div>

<ul class="list-group contentBox">
  <div class="list-group-item active boxSelected">
    <div class="columns">
      <div class="column is-four-fifths">
        <div class="selectedBoxTitle"><b>Box 3</b></div>
        <div class="selectedBoxSubtitle"><b>03 evaluaciones + asesoría</b></div>
        <div class="selectedResponsiveDiscount"><b>10% dscto</b></div>
      </div>
      <div class="column is-four-fifths">
        <div class="selectedBoxDiscount"><b>10% dscto</b></div>
      </div>
    </div>
  </div>
</ul>

<div id="list">
  <div id="boxChose" class="boxChose">
    <ul class="list-group" *ngFor="let evaluacion of evaluacionArray">
      <div class="list-group-item evaluationUnselected">

        <div class="titleAccordion"><b>{{evaluacion.name}}</b></div>
        <div class="titleAccordion2"><b>Precio: S/{{evaluacion.price}}</b></div>

      </div>
    </ul>
  </div>
</div>

<div class="totalPrice">Total: S/ 1980</div>

<div class="culqi">
  <button class="btnNext" matStepperNext id="validator" formControlName="secondCtrl2">
    Siguiente<span class="glyphicon glyphicon-chevron-right"></span></button>
</div>

<div class="btnContainer">
  <button class="btnCancel"><span class="glyphicon glyphicon-chevron-left"></span>Volver</button>
</div>