.titleBox{
    color: black;
}
.boxSelected{
    background: #EBEBEB;
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 0px 3px 3px 3px;
    height: 50px
}
.selectedBoxTitle{
    font-size: 100%;
    color: #0F7001;
    margin-left: 3%;
    line-height: 50%;
    margin-top: 0.5%;
}
.selectedBoxSubtitle{
    font-size: 80%;
    color: #000000;
    margin-left: 3%;
}
.selectedBoxDiscount{
    font-size: 80%;
    color: #0F7001;
    margin-top: 0.5%;
    margin-left: 10%;
}

@media (max-width: 799px){
    .boxSelected{
        height: 60px
    }
    .selectedBoxDiscount{
        display: none;
    }
    .selectedResponsiveDiscount{
        color:#4B4B4B;
        font-size: 80%;
        line-height: 50%;
        margin-left: 3%;
    }

}
@media (min-width: 800px){
.selectedResponsiveDiscount{
    display: none;
}
}
.boxSelected:hover{
    background: #EBEBEB;
    border-style: solid;
    border-color: #EBEBEB;
}
.contentBox{
    margin-top: 15px;
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 0px 3px 0px 3px;
}
.boxChose{
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 3px 0px 0px 0px;
}
.evaluationUnselected{
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 0px 3px 3px 3px;
    background: white;
    height: 50px
}
.titleAccordion{
    font-size: 80%;
    color: black;
    margin-left: 2%;
    line-height: 50%;
    margin-top: 0.5%;
  }
  .titleAccordion2{
    font-size: 80%;
    color: #4B4B4B;
    margin-left: 2%;
  }
  .evaluationDetail{
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 0px 3px 3px 3px;
}
@media (max-width: 500px){
    .contentTextAccordion{
      padding-left: 2.5%;
    }
    .evaluationDetail{
        padding-top: 5%;
        padding-bottom: 1%;
    }
    .totalPrice{
        padding-top: 5%;
    }
}
@media (min-width:501px){
    .contentTextAccordion{
      padding-left: 1%;
    }
    .evaluationDetail{
        padding-top: 1.5%;
        padding-bottom: 0.5%;
    }
}
.contentTextAccordion{
    border-style: none none none solid;
    border-color: #0F7001;
    font-size: 85%;
    line-height: 110%
  }
  .totalPrice{
    color: #0F7001;
    margin-top: 2%;
    font-size: 150%;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #EBEBEB;
    width: 100%;
    padding-bottom: 0.5%;
}
.culqi{
    margin-left: 30%;
    margin-top: 2.5%;
    margin-right: 30%;
    border-style: solid;
    height: 250px;
}
.btnNext{
    background-color: rgb(80, 182, 241);
    color: white;
    outline: none;
    font-family: poppins;
    width: 100%;
    height: 35px;
    border-style: solid;   
    border-color: rgb(80, 182, 241);

}
.btnNext:hover{
    background-color: rgb(26, 94, 241);
}
.btnCancel{
    background-color: white;
    color: #0F7001;
    outline: none;
    font-family: poppins;
    width: 100%;
    height: 35px;
    border-style: solid;
    border-color: #0F7001;
    border-width: 0.5px;
    margin-right: 0.5%;
}
.btnCancel:hover{
    background-color: rgb(230, 230, 230);
}
.btnContainer{
    width: 100%;    
    margin-top: 2.5%;
    padding-right: 60%
}