.footer{
    background-color: #1D1D1D;
    font-family: poppins;
    font-size: 15px;
    bottom: 0;
    width: 100%;
    list-style-type: none;  
    margin-bottom: 0;
    padding-bottom: 0;
    height: 70px;
    }
    .column{
    margin-top:-25px;
    }
    .font_green{
    color: #168F04;
    }
    .font_grey{
    color: #BBBBBB;
    }
    .icons{
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
    }
    .items{
    margin-left: 2%;
    }
    .social{
    text-align: right;
    padding-top: 20px;
    }
    .textoIcon{
    color: #CCCCCC;
    font-family: poppins;
    margin-left: 10px;
    margin-right: 10px
    }
@media (min-width: 701px){
.footer{
position: fixed;
}
}
@media (max-width: 700px){
.footer{
height: 180px;
position: -ms-page;
margin-top: 30px;
}
.icons{
margin-top: 10px;
display: inline-block;
margin-left: -2%
}
}

    
    
    
      
      
      
      
      
      