<mat-toolbar class="navBar  resizeLogo">
  <a href={{websiteRonald}} target="_blanck">
    <img class="imagen_central" src="assets/imagenes/Ronald-Career-Service-Group-Logo.png">
  </a>
</mat-toolbar>
<br>
<div class="titulo">Contáctanos</div>

<div class="contenedor">
  <div class="field">
    <label class="label"><b>Nombre completo</b></label>
    <div class="control">
      <input class="input" type="text" placeholder="Nombre completo">
    </div>
  </div>

  <div class="field">
    <label class="label"><b>Email</b></label>
    <div class="control">
      <input class="input" type="email" placeholder="Email">
    </div>
  </div>

  <div class="field">
    <label class="label"><b>Mensaje</b></label>
    <div class="control">
      <textarea rows="5" class="inputText" placeholder="Mensaje"></textarea>
    </div>
  </div>

  <button class="btnNext">Enviar</button>
</div>

<app-footer-fixed></app-footer-fixed>