.navBar{
display: inline-block;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 70px;
background: rgba(255, 255, 255, 0.90);
border-style: none none solid;
border-color: #BBBBBB;
text-align: center;
padding-top: 0.2%;
padding-bottom: 0.2%;
}

.imagen_central{
height: 100%;
margin-left: auto;
margin-right: auto;
}
.contenedor{
margin-left: 5%;
margin-right: 5%;
background: #EBEBEB;
margin-top: 20px;
padding-left: 5%;
padding-right: 5%;
padding-top: 2%;
padding-bottom: 2%;
}
.label{
text-align: left; 
color: black;
padding-left: 0;
font-family: poppins;
}
.input{
border-style: solid;
border-radius: 5px;
height: 40px;
font-family: poppins;
}
.inputText{
border-style: solid;
border-radius: 5px;
font-family: poppins;
width: 100%;
padding-left: 7px;
}
.inputText::placeholder{
color: #AFAFAF;
}
.input::placeholder{
color: #AFAFAF;
}
input:focus{
border-color: #168F04;
}
.btnNext{
background-color: #0F7001;
color: white;
outline: none;
font-family: poppins;
width: 100%;
height: 35px;
border-radius: 5px;
border-style: solid;   
border-color: #168F04;
margin-left: 0.5%;
margin-top: 10px;
}
.btnNext:hover{
background-color: #168F04;
}

@media (max-width: 500px){
.titulo{
font-size: 100%;
color: #0F7001;
line-height: 5vw;
font-family: poppins;
text-align: center;
margin-left: 15%;
margin-right: 15%;
font-weight: 100;
margin-top: 20px;
}
}

@media (min-width:501px){
.titulo{
color: #0F7001;
margin-top: 20px;
font-size: 2vw;
line-height: 3vw;
font-family: poppins;
text-align: center;
margin-left: 15%;
margin-right: 15%;
font-weight: 100;
}
}