.titleBox{
    color: black;
}
.email{
    color: #4B4B4B; 
}
.input{
    width:400px; 
    border-style: solid;
    border-radius: 0;
    height: 37px;
    font-family: poppins;
}
input:focus{
    border-color: #168F04;
}
.control{
    width: 400px;
    height: 400px;
}
.containerButtons{
    width: 100%;
    margin-top: 10px;
}
.btnCancel{
    background-color: white;
    color: #0F7001;
    outline: none;
    font-family: poppins;
    width: 49.5%;
    height: 35px;
    border-style: solid;
    border-color: #0F7001;
    border-width: 0.5px;
    margin-right: 0.5%;
}
.btnCancel:hover{
    background-color: rgb(230, 230, 230);
}
.btnNext{
    background-color: #168F04;
    color: white;
    outline: none;
    font-family: poppins;
    width: 49.5%;
    height: 35px;
    border-style: solid;   
    border-color: #0F7001;
    margin-left: 0.5%;

}
.btnNext:hover{
    background-color: #0F7001;
}
@media (max-width:500px){
    .control{
        width: 100%;
    }
}