<div class="titleBox"><b>Registro de datos personales</b></div>
<div class="titleBox">Se te ha enviado un mensaje al siguiente correo: <span class="email"><b>abc@gmail.com</b></span></div>
<div class="titleBox">Por favor, revisa tu correo para validar tu registro, te hemos enviado un código.</div>

<br>

<div class="control">
    <input class="input" type="text" placeholder="Código de validación">
  

  <div class="containerButtons">
      <button class="btnCancel"><span class="glyphicon glyphicon-chevron-left"></span>Volver</button>
      <button class="btnNext" matStepperNext id="validator" formControlName="secondCtrl2">
        Siguiente<span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
  </div>