<form [formGroup]="frmStepOne">
  <div class="titleBox"><b>Armado de Box</b></div> 
  <div class="textBox">Gracias por su interés en nosotros. Por favor, seleccione el Box de su preferencia.</div>
 <br>
  <div class="boxChose">
    <ul class="list-group" *ngFor="let paquete of paqueteArray">
      <a class="list-group-item active boxSelected" *ngIf="paquete.id == message">
        <div class="columns">
          <div class="column is-four-fifths">
            <div class="selectedBoxTitle"><b>{{paquete.title}}</b></div>
            <div class="selectedBoxSubtitle"><b>{{paquete.subtitle}}</b></div>
            <div class="selectedResponsiveDiscount"><b>{{paquete.discount}}</b></div>
          </div>
          <div class="column is-four-fifths">
            <div class="selectedBoxDiscount"><b>{{paquete.discount}}</b></div>
          </div>
        </div>
      </a>
    </ul>
    <div>
      <ul class="list-group" *ngFor="let paquete of paqueteArray">
        <a (click)="sendIdBox(paquete.id)" ng-model="checked" class="list-group-item boxUnselected" *ngIf="paquete.id != message">
          <div class="columns">
            <div class="column is-four-fifths">
              <div class="unselectedBoxTitle"><b>{{paquete.title}}</b></div>
              <div class="unselectedBoxSubtitle"><b>{{paquete.subtitle}}</b></div>
              <div class="selectedResponsiveDiscount"><b>{{paquete.discount}}</b></div>
            </div>
            <div class="column is-four-fifths">
              <div class="unselectedBoxDiscount"><b>{{paquete.discount}}</b></div>
            </div>
          </div>
        </a>
      </ul>
    </div>
  </div>

  <br>
  <p id="textoEvaluaciones" class="textBox">Por favor, seleccione las evaluaciónes que desee obtener:</p>


  <div id="list">
    <div id="boxChose" class="boxChose">
      <ul class="list-group" *ngFor="let evaluacion of evaluacionArray">
        <div class="list-group-item evaluationUnselected">
          <mat-checkbox id="{{evaluacion.id}}" (click)="checkEvaluationsNumber(evaluacion.id)" ng-checked="checked"
            [disabled]="disabled">
            <div class="titleAccordion"><b>{{evaluacion.name}}</b></div>
            <div class="titleAccordion2"><b>Precio: S/{{evaluacion.price}}</b></div>
          </mat-checkbox>
        </div>
        <div class="list-group-item evaluationDetail">
          <p class="contentTextAccordion">{{evaluacion.detail}}</p>

        </div>
      </ul>
    </div>
  </div>

  <div id="price" class="totalPrice"></div>
  <div class="containerButtons">
    <button class="btnCancel" (click)="openDialog()"><span class="glyphicon glyphicon-chevron-left"></span>Cancelar</button>
    <button class="btnNext" matStepperNext id="validator" formControlName="secondCtrl2">
      Siguiente<span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>

</form>
