
.titleBox{
    color: black;
}.textBox{
    font-size: 15px;
    font-family: poppins;
}
.boxSelected{
    background: #EBEBEB;
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 0px 3px 3px 3px;
    height: 50px
}
.boxSelected:hover{
    background: #EBEBEB;
    border-style: solid;
    border-color: #EBEBEB;
}
.boxUnselected{
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 0px 3px 3px 3px;
    height: 50px
}
.boxChose{
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 3px 0px 0px 0px;
}
.unselectedBoxTitle{
    font-size: 100%;
    color: #000000;
    margin-left: 3%;
    line-height: 50%;
    margin-top: 0.5%;
}
.unselectedBoxSubtitle{
    font-size: 80%;
    color: #4B4B4B;
    margin-left: 3%;
}
.unselectedBoxDiscount{
    font-size: 80%;
    color: #4B4B4B;
    margin-top: 0.5%;
    margin-left: 10%;
}
.selectedBoxTitle{
    font-size: 100%;
    color: #0F7001;
    margin-left: 3%;
    line-height: 50%;
    margin-top: 0.5%;
}
.selectedBoxSubtitle{
    font-size: 80%;
    color: #000000;
    margin-left: 3%;
}
.selectedBoxDiscount{
    font-size: 80%;
    color: #0F7001;
    margin-top: 0.5%;
    margin-left: 10%;
}
@media (max-width: 799px){
    .boxSelected{
        height: 60px
    }
    .selectedBoxDiscount{
        display: none;
    }
    .unselectedBoxDiscount{
        display: none;
    }
    .selectedResponsiveDiscount{
        color:#4B4B4B;
        font-size: 80%;
        line-height: 50%;
        margin-left: 3%;
    }
    .boxUnselected{
        height: 60px
    }
}
@media (min-width: 800px){
.selectedResponsiveDiscount{
    display: none;
}
}
@media (max-width: 500px){
    .contentTextAccordion{
      padding-left: 2.5%;
    }
    .evaluationDetail{
        padding-top: 5%;
        padding-bottom: 1%;
    }
}
@media (min-width:501px){
    .contentTextAccordion{
      padding-left: 1%;
    }
    .evaluationDetail{
        padding-top: 1.5%;
        padding-bottom: 0.5%;
    }
}
.contentTextAccordion{
    border-style: none none none solid;
    border-color: #0F7001;
    font-size: 85%;
    line-height: 110%
  }
  .titleAccordion{
    font-size: 100%;
    color: #0F7001;
    margin-left: 3%;
    line-height: 50%;
    margin-top: 0.5%;
  }
  .acordion{
    margin-top: 2%;
  }
  .titleAccordion2{
    font-size: 80%;
    color: #000000;
    margin-left: 3%;
  }
  .card{
    border-style: none;
  }
  .evaluationUnselected{
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 0px 3px 3px 3px;
    background: #EBEBEB;
    height: 50px
}
.evaluationDetail{
    border-style: solid;
    border-color: #EBEBEB;
    border-radius: 0%;
    border-width: 0px 3px 3px 3px;
}
.totalPrice{
    color: #0F7001;
    margin-top: 2%;
    font-size: 150%;
    float: right;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #EBEBEB;
    width: 100%;
    padding-bottom: 0.5%;
}
.containerButtons{
    text-align: center;
    width: 400px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.btnCancel{
    background-color: #1D1D1D;
    color: white;
    outline: none;
    font-family: poppins;
    width: 49.5%;
    height: 35px;
    border-style: solid;
    border-color: #1D1D1D;
    border-width: 0.5px;
    margin-right: 0.5%;
}
.btnCancel:hover{
    background-color: rgb(59, 59, 59);
}
.btnNext{
    background-color: #0F7001;
    color: white;
    outline: none;
    font-family: poppins;
    width: 49.5%;
    height: 35px;
    border-style: solid;   
    border-color: #0F7001;
    margin-left: 0.5%;

}
.btnNext:hover{
    background-color: #168F04;
}
@media (max-width:500px){
    .containerButtons{
        width: 100%;
    }
}