<mat-toolbar class="navBar  resizeLogo">
  <a href={{websiteRonald}} target="_blanck">
    <img class="imagen_central" src="assets/imagenes/Ronald-Career-Service-Group-Logo.png">
  </a>
</mat-toolbar>
<br>
<div class="titulo">Adquirir paquete de evaluaciones</div>
<div class="titleLine"></div>

<mat-horizontal-stepper class="stepper alternative" [linear]="isLinear" #stepper>

  <mat-step [stepControl]="frmStepOne">


      <ng-template matStepLabel>
      <div class="stepLabel">Armado de Box</div>
      </ng-template>

      <app-box-build></app-box-build>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">

    <ng-template matStepLabel>
      <div class="stepLabel">Registro</div>
      </ng-template>

      <app-box-register></app-box-register>

  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">

      <ng-template matStepLabel>
          <div class="stepLabel">Validación</div>
          </ng-template>
    
          <app-box-validation></app-box-validation>

  </mat-step>

  <mat-step [stepControl]="fourdFormGroup">
  
      <ng-template matStepLabel>
          <div class="stepLabel">Pago</div>
          </ng-template>
    
          <app-box-payment></app-box-payment>

    </mat-step>

    <mat-step [stepControl]="fifthFormGroup">
    
        <ng-template matStepLabel>
            <div class="stepLabel">Fin</div>
            </ng-template>
      
            <app-box-culmination></app-box-culmination>

      </mat-step>

</mat-horizontal-stepper>


<app-footer></app-footer>