.navBar{
display: inline-block;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 70px;
background: rgba(255, 255, 255, 0.90);
border-style: none none solid;
border-color: #BBBBBB;
text-align: center;
padding-top: 0.2%;
padding-bottom: 0.2%;
}

.imagen_central{
height: 100%;
margin-left: auto;
margin-right: auto;
}

.titleLine{
border-bottom: 2px solid rgb(224, 224, 224);
margin-left: 5%;
margin-right: 5%;
margin-top: 5px;
}

.stepper{
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255, 255, 255, 0);
}

.stepText{
    width: 122px;
    height:15px;
    font-size: 0.8vw;
    margin-left: 2%;
    line-height: 120%;
}

@media (max-width: 500px){
    .stepper{
        margin-left: 2%;
        margin-right: 2%;
    }
.resizeLogo{
height: 50px;
}
.titulo{
font-size: 100%;
color: #0F7001;
line-height: 5vw;
font-family: poppins;
text-align: center;
margin-left: 15%;
margin-right: 15%;
font-weight: 100;
margin-top: 20px;
}
.stepLabel{
    display: none;
}
}

@media (min-width:501px){
.titulo{
    color: #0F7001;
    margin-top: 20px;
    font-size: 2vw;
    line-height: 3vw;
    font-family: poppins;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 100;
}
}




    
  

