.contenedor-login{
padding: 1%;
background-color: rgb(235, 235, 235);
border-style: solid;
border-color: #BBBBBB;
margin-top: 7%;
margin-left: 30%;
margin-right: 30%;
border-radius: 2px;
border-width: 0.1px;
}
.boton_login{
color: white;
background-color: #168F04;
margin-bottom: 2%;
height: 40px;
font-family: poppins;
font-size: 100%;
text-align: center;
border-style: solid;
width: 90%;
border-radius: 2px;
border-color: #0F7001;
margin-top: 2%;    
margin-left: 5%;
margin-right: 5%;
}
.boton_login:hover{
background-color: #0F7001;
border-radius: 2px;
border-color: #168F04;
}
.contenedor-campos{
background-color: white;
color: #1D1D1D;
margin-left: 5%;
margin-right: 5%;
border-radius: 4px;
height: 70px;
margin-top: 2%;
}
.login_title{
margin-top: 2%;
margin-bottom: 4%;
color: black;
font-family: poppins;
font-size: 200%;
width: 100%;
text-align: center;
}
.recuperar{
color: #4B4B4B;
text-align: right;
font-size: 80%;
font-family: poppins;    
}
.recuperar:hover{
text-decoration: none;
}
.recuperarContenedor{
margin-top: 2%;
margin-right: 5%;
}
.contenedor{
color: #1D1D1D;
}
.data-container {
margin-left: 10%;
margin-right: 10%;
padding-top: 8px;
display: flex;
flex-direction: column;
}
.data-container > * {
width: 100%;
}
.navBar{
display: inline-block;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 70px;
background: rgba(255, 255, 255, 0.90);
border-style: none none solid;
border-color: #BBBBBB;
text-align: center;
padding-top: 0.2%;
padding-bottom: 0.2%;
}

.imagen_central{
height: 100%;
margin-left: auto;
margin-right: auto;
}

@media (max-width: 700px){
.contenedor-login{
margin-top: 10%;
margin-left: 5%;
margin-right: 5%;
}
.login_title{
margin-top: 10%;
}
}

.error{
    color: red;
    margin-right: 31%;
    font-size: 80%;
    margin-left: 5%;
}