<mat-toolbar class="navBar">
  <a href={{websiteRonald}} target="_blanck">
    <img class="imagen_central" src="assets/imagenes/Ronald-Career-Service-Group-Logo.png">
  </a>
</mat-toolbar>
<form (submit)="loginUser($event)">
  <div class="contenedor-login">
    <div class="login_title"><b>Iniciar Sesión</b></div>
      <div class="contenedor-campos">      
        <mat-form-field class="data-container">
          <input id='username' matInput placeholder="Email" [formControl]="emailFormControl" type="text"
          [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Insertar un email válido
          </mat-error>
        </mat-form-field>  
      </div>
      <div class="contenedor-campos">
        <div class="data-container">
          <mat-form-field>
            <input id='password' type="password" matInput placeholder="Contraseña">
          </mat-form-field>
        </div>  
      </div>
      <div class="recuperarContenedor">
        <span class="error" [style.visibility]="isVisible ? 'visible' : 'hidden'">Usuario y contraseña incorrectos</span>
        <a routerLink="/restaurarContrasena" class="recuperar">¿Olvidaste tu contraseña?</a>
      </div>
  <input type="submit" class="boton_login" value="Login">
 </div> 
</form>
<app-footer-fixed></app-footer-fixed>