<div class="titleBox"><b>¡Pago realizado exitosamente!</b></div>
<br>
<div class="titleBox">Muchas gracias por confiar en nosotros, esperamos que la(s) evaluación(es) adquirida(s) aporten significativamente en tu desarrollo profesional.</div>

<div class="containerButtons">
  <button class="btnCancel" (click)="openDialog()"><span class="glyphicon glyphicon-chevron-left"></span>Principal</button>
  <button class="btnNext" matStepperNext id="validator" formControlName="secondCtrl2">
    Login<span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<div class="height"></div>