.titleBox{
    color: black;
    padding-right: 60%;
}
.btnCancel{
    background-color: #1D1D1D;
    color: white;
    outline: none;
    font-family: poppins;
    width: 49.5%;
    height: 35px;
    border-style: solid;
    border-color: #1D1D1D;
    border-width: 0.5px;
    margin-right: 0.5%;
}
.btnCancel:hover{
    background-color: rgb(59, 59, 59);
}
.btnNext{
    background-color: #0F7001;
    color: white;
    outline: none;
    font-family: poppins;
    width: 49.5%;
    height: 35px;
    border-style: solid;   
    border-color: #0F7001;
    margin-left: 0.5%;

}
.btnNext:hover{
    background-color: #168F04;
}
.containerButtons{
    text-align: center;
    width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.height{
    height: 400px;
}
@media (max-width:500px){
    .containerButtons{
        width: 100%;
    }
    .titleBox{
        padding-right: 0%;
    }
}