<mat-toolbar class="navBar  resizeLogo">
  <a href={{websiteRonald}} target="_blanck">
    <img class="imagen_central" src="assets/imagenes/Ronald-Career-Service-Group-Logo.png">
  </a>
</mat-toolbar>
<br>
<div class="titulo">Restablecer contraseña</div>
<div class="textBox">Por favor, escribe tu correo para que podamos comunicarnos contigo y así restablecer tu contraseña a la brevedad.</div>

<div class="contenedor">
  <div class="contenedor2">
    <mat-form-field class="data-container alternative">
      <input id='username' matInput placeholder="Email" [formControl]="emailFormControl" type="text"
            [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Insertar un email válido
      </mat-error>
    </mat-form-field>  
  </div>
</div>

<div class="containerButtons">
  <button class="btnCancel"><span class="glyphicon glyphicon-chevron-left"></span>Volver</button>
  <button class="btnNext">Enviar<span class="glyphicon glyphicon-chevron-right"></span></button>
</div>

<app-footer-fixed></app-footer-fixed>