.navBar{
display: inline-block;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 70px;
background: rgba(255, 255, 255, 0.90);
border-style: none none solid;
border-color: #BBBBBB;
text-align: center;
padding-top: 0.2%;
padding-bottom: 0.2%;
}

.imagen_central{
height: 100%;
margin-left: auto;
margin-right: auto;
}
.textBox{
font-size: 100%;
font-family: poppins;
margin-top: 20px;
margin-left: 25%;
margin-right: 25%;
text-align: center;
}
.contenedor{
margin-top: 2.5%;
margin-left: 25%;
margin-right: 25%;
background: rgba(189,189,189,0.21);
border-radius: 5px;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 1%;
padding-right: 1%;
}
.contenedor2{
height: 100%;
background: white;
border-radius: 5px;
padding-left: 5%;
padding-right: 5%;
}
.data-container {
padding-top: 8px;
display: flex;
flex-direction: column;
}  
.data-container > * {
width: 100%;
}



.btnCancel{
background-color: white;
color: #0F7001;
outline: none;
font-family: poppins;
width: 49.5%;
height: 35px;
border-style: solid;
border-color: #0F7001;
border-width: 0.5px;
margin-right: 0.5%;
}
.btnCancel:hover{
background-color: rgb(235, 235, 235);
}
.btnNext{
background-color: #0F7001;
color: white;
outline: none;
font-family: poppins;
width: 49.5%;
height: 35px;
border-style: solid;   
border-color: #0F7001;
margin-left: 0.5%;

}
.btnNext:hover{
background-color: #168F04;
}
.containerButtons{
text-align: center;
width: 400px;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
}
@media (min-width:501px){
.titulo{
color: #0F7001;
margin-top: 80px;
font-size: 2vw;
line-height: 3vw;
font-family: poppins;
text-align: center;
margin-left: 15%;
margin-right: 15%;
font-weight: 100;
}
}
@media (max-width: 500px){
.containerButtons{
width: 80%;
}
.titulo{
font-size: 100%;
color: #0F7001;
line-height: 5vw;
font-family: poppins;
text-align: center;
margin-left: 15%;
margin-right: 15%;
font-weight: 100;
margin-top: 20px;
}
.textBox{
margin-left: 2%;
margin-right: 2%;
text-align: center;
font-size: 80%;
}

.contenedor{
margin-top: 4%;
margin-left: 5%;
margin-right: 5%;
padding-top: 2%;
padding-bottom: 2%;
padding-left: 2%;
padding-right: 2%;
}
}