<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a class="navbar-brand" [routerLink]="['./misevaluaciones']">
        <img src="assets/imagenes/Ronald-Career-Service-Group-Logo.png" class="imagen_central">
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button
        [matMenuTriggerFor]="menu"
        yPosition="below">
          {{user.nombres}}
          <br>
          {{today | date:'dd/MM/yyyy'}}
        </a>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button class="color" [routerLink]="['/login']" mat-menu-item>
            <a
            [routerLink]="['/login']">
              Cerrar sesión
            </a>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill >
    <mat-sidenav #sidenav mode="over">
      <a mat-button style="height: 0; position: absolute;"></a>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/login']">
          Cerrar sesión
        </a>
      </mat-nav-list>
    </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="container container-principal">
      <mat-card>
          <div class="row">
            <div class="col-3">
              <a class="regresar" (click)="enviar()" [routerLink]="['/login/home/misevaluaciones']">
                <div class="row">
                  <div class="col-1 centro">
                    <span class="icon">&#8249;</span>
                  </div>
                  <div class="col guardar">
                    Guardar avance y volver
                    <br>
                    a mis evaluaciones
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 central titulo" ng-controller="data">
              {{data[elegido].nombre}}
            </div>
            <div class="col-3">
              
            </div>
          </div>
      </mat-card>
      <div class="container subtitulo">
        INSTRUCCIONES
      </div>
      <div class="container informacion" ng-controller="data">
        {{data[elegido].instrucciones}}
      </div>
      <div class="content-container container">
        <swiper *ngIf="type == 'component' && show" class="swiper-container" 
        [index]="faltante"
        [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" 
        (swiperTransitionStart)="onSwiperEvent('transitionStart')" 
        (swiperTransitionEnd)="onSwiperEvent('transitionEnd')" fxLayoutAlign="center center">
          <div *ngFor="let pregunta of data[elegido].preguntas;let i = index" class="swiper-slide">
            <div class="bordes" fxFlex="auto" data-swiper-parallax-opacity="0.5">
              <div class="enunciado" fxLayout="row" fxLayoutAlign="center center">
                {{i+1}}. {{pregunta.enunciado}}
              </div>
              <div class="option" fxLayout="row" fxLayoutAlign="center center">
                <div class="row">
                  <div class="col central2" *ngFor="let alternativa of data[elegido].preguntas[i].alternativas;let j=index">
                    <button class="bordes2" mat-button
                    [ngClass]="{active: alternativa.active}"
                    [ngStyle]="alternativa.active ?{'background-color': '#0F7001', 'color':'white'}
                    :{'background-color':'#909497','color':'white'}"
                    (click)="opel(alternativa.alternativas, i);activateClass(alternativa,i)">
                      {{alternativa.alternativas}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper>
      </div>            
      <div class="container fin">
        <div class="row">
          <div class="col-1 centrar" ng-controller="data">
            {{progresion[elegido].respuestas}}/{{progresion[elegido].preguntas}}
          </div>
          <div class="col-6 centrar">
            <mat-progress-bar mode="determinate" value="{{progresion[elegido].progreso}}">
              {{progresion[elegido].progreso}}
            </mat-progress-bar>
          </div>
          <div class="col-3">
          </div>
          <div class="col-2">
            <button class="terminar" mat-flat-button (click)="enviar()" [routerLink]="['/login/terminado']">
              Terminar evaluación &#8250;
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
