.centro{
    margin: auto;
    font-size: 40px;
}
.guardar{
    margin-top: auto;
    margin-bottom: auto;
}
.fin{
    padding-top: 15px;
    padding-bottom: 1%;
    width: 95%;
}
.right{
    margin-left: auto;
    margin-right: 0px;
}
.example-spacer {
    flex: 1 1 auto;
}
.container-principal{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.centrar{
    margin:auto;
}
.central{
    text-align: center;
    margin:auto;
    font-size: 25px;
}
.central2{
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.regresar{
    text-decoration: none;
    color: #0F7001;
    font-size: 12px;
}
.terminar{
    background-color: #0F7001;
    text-align: right;
    color: white;
    font-size: 15px;
    border-radius: 20px 20px 20px 20px;
}
.titulo{
    font-family: 'Poppins';
}
.subtitulo{
    margin-left:20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 96.5%;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: #bdc3c7;
}
.informacion{
    padding-top: 2px;
    width: 96%;
    margin-left: 20px;
    margin-right: 20px; 
}
/*swiper*/
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;
    
    @media (max-#{$dimension}: #{$min-breakpoint}) {
      font-size: $min;
    }
    
    @if $max {
      $max-breakpoint: $max / $responsive-unitless * 100;
      
      @media (min-#{$dimension}: #{$max-breakpoint}) {
        font-size: $max;
      }
    }
    
    @if $fallback {
      font-size: $fallback;
    }
    
    font-size: $responsive;
}
mat-toolbar-row{
    height:70px;
}
mat-toolbar{
    height:70px;
}
.navbar-brand{
    height: 97%;
}
.imagen_central{
    height: 100%;
}
.content-container{
    overflow-y: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
.swiper-container{
    overflow-y: hidden;
    height: 270px;
    width: fit-content;
}
.swiper-slide {
    overflow-y: hidden;
    padding: auto;
    opacity: rgba($color: #DEDDDD, $alpha: 0.0);
    color:rgba($color: #DEDDDD, $alpha: 1.0);
  }
  .bordes{
    margin: auto;
    height: fit-content;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #909497;
    justify-content: center;
    overflow-x: hidden;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: hidden;
  }
  .bordes2{
    height: 35px;
    overflow-y: hidden;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    @include responsive-font(0.9vw, 12px, 50px);
    background-color: #909497;
    color: white;
  }
  .bordes2:focus{
    justify-content: center;
  }
  .swiper-slide-active {
    color: black;
  }
  .swiper-slide-next{
    opacity: 0.2;
  }
  .swiper-slide-prev{
    opacity: 0.2;
  }
  .enunciado{
    @include responsive-font(1.5vw, 15px, 50px);
    font-family: 'Poppins';
    text-align: center;
  }
  .option{
    padding-top: 2.5vw;
    margin-top: auto;
    margin-bottom: auto;
  }
  mat-progress-bar{
    border-radius: 10px 10px 10px 10px;
    height: 10px;
  }