.full-width{
    width: 100%;
}
mat-form-field{
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: -20px;
    padding-top: -20px;
    border: 1px solid;
}
.micuenta, {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins';
}
.line{
    margin: 10px 0 10px 0;
}
.line-2{
    margin-bottom: 10px;
}
.header{
    font-size: 30px;
    margin-bottom: 20px;
}
.boton{
    font-size: 17px;
    background-color: #0F7001;
    color: white;
    margin-right: 14px;
}