<div class="container micuenta">
  <div class="container header">
    Mi Cuenta
  </div>
  <div class="row line">
    <div class="col">
      <label>
        Nombres
      </label>
      <mat-form-field  class="full-width">
        <input matInput class="full-width" value="">
      </mat-form-field>
    </div>
    <div class="col">
      <label>
        Apellido Paterno
      </label>
      <mat-form-field class="full-width">
        <input matInput class="full-width" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row line">
    <div class="col">
      <label>
        Apellido Materno
      </label>
      <mat-form-field class="full-width">
        <input matInput class="full-width" value="">
      </mat-form-field>
    </div>
    <div class="col">
      <label>
        Fecha de Nacimiento
      </label>
      <mat-form-field class="full-width">
        <input matInput class="full-width" type="date" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row line">
    <div class="col">
      <label>
        País de nacimiento
      </label>
      <mat-form-field class="full-width">
        <mat-select class="full-width">
          <mat-option class="full-width" *ngFor="let pais of paises" [value]="pais.value">
            {{pais.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <label>
        Dirección de Residencia
      </label>
      <mat-form-field class="full-width">
        <input matInput class="full-width" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row line">
    <div class="col">
      <label>
        Departamento
      </label>
      <mat-form-field class="full-width">
        <mat-select class="full-width">
          <mat-option class="full-width" *ngFor="let departamento of departamentos" [value]="departamento.value">
            {{departamento.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">        
      <label>
        Provincia
      </label>
      <mat-form-field class="full-width">
        <mat-select class="full-width">
          <mat-option class="full-width" *ngFor="let provincia of provincias" [value]="provincia.value">
            {{provincia.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row line">
    <div class="col">
      <label>
        Distrito
      </label>
      <mat-form-field class="full-width">
        <mat-select class="full-width">
          <mat-option class="full-width" *ngFor="let distrito of distritos" [value]="distrito.value">
            {{distrito.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <label>
        Celular
      </label>
      <mat-form-field class="full-width">
        <input matInput class="full-width" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row line">
    <div class="col">
      <label>
        Email
      </label>
      <mat-form-field class="full-width">
        <input matInput class="full-width" value="">
      </mat-form-field>
    </div>
    <div class="col">
      <label>
        Documento de Identidad
      </label>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width line-2">
            <mat-select class="full-width">
              <mat-option class="full-width" *ngFor="let dni of dnis" [value]="dni.value">
                {{dni.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput class="full-width" value="">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row line">
    <div class="col">
      <label>
        Cambiar contraseña
      </label>
    </div>
  </div>
  <div class="row line">
    <div class="col">
      <mat-form-field class="full-width line-2">
        <input matInput class="full-width" placeholder="Escribir contraseña actual" value="">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width line-2">
        <input matInput class="full-width" placeholder="Escribir nueva contraseña" value="">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width line-2">
        <input matInput class="full-width" placeholder="Repetir nueva contraseña" value="">
      </mat-form-field>
    </div>
  </div>
  <div class="row line">
    <div class="col">
      <label>
        Empresa donde trabaja
      </label>
      <mat-form-field class="full-width line-2">
        <mat-select class="full-width">
          <mat-option class="full-width" *ngFor="let empresa of empresas" [value]="empresa.value">
            {{empresa.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput class="full-width" placeholder="¿No está en la lista? Por favor, escríbala aquí" value="">
      </mat-form-field>
    </div>
    <div class="col">
      <label>
        Cargo de trabajo
      </label>
      <mat-form-field class="full-width line-2">
        <mat-select class="full-width">
          <mat-option class="full-width" *ngFor="let cargo of cargos" [value]="cargo.value">
            {{cargo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput class="full-width" placeholder="¿No está en la lista? Por favor, escríbala aquí" value="">
      </mat-form-field>
    </div>
  </div>
  <div style="text-align: right;">
      <a class="boton" mat-flat-button routerLink=".">Actualizar información ></a>
  </div>
</div>
