@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;
    
    @media (max-#{$dimension}: #{$min-breakpoint}) {
      font-size: $min;
    }
    
    @if $max {
      $max-breakpoint: $max / $responsive-unitless * 100;
      
      @media (min-#{$dimension}: #{$max-breakpoint}) {
        font-size: $max;
      }
    }
    
    @if $fallback {
      font-size: $fallback;
    }
    
    font-size: $responsive;
}

.example-spacer {
    flex: 1 1 auto;
}
.container-principal{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.informacion{
    padding-top: 2px;
    width: 96%;
    margin-left: 20px;
    margin-right: 20px; 
}
.central{
    text-align: center;
    margin:auto;
    font-size: 25px;
}
.titulo{
    font-family: 'Poppins';
}
.subtitulo{
    margin-left:20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 7px;
    width: 50%;
    @include responsive-font(3vw, 20px, 25px);
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: #bdc3c7;
    font-family: 'Poppins';
}
.informacion{
    padding-top: 2px;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    @include responsive-font(1.5vw, 15px, 20px);
    font-size: 20px;
    font-family: 'Poppins';
}
.botonfinal{
    padding: 30px;
    text-align: right;
    padding-top: 22vw;
}
.boton{
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    background-color: #0F7001;
    color: white;
}
.imagen_central{
    height: 100%;
}
mat-toolbar-row{
    height:70px;
}
mat-toolbar{
    height:70px;
}
.navbar-brand{
    height: 97%;
}