<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <a class="navbar-brand">
          <img src="assets/imagenes/Ronald-Career-Service-Group-Logo.png" class="imagen_central">
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button 
          [matMenuTriggerFor]="menu"
          yPosition="below">
            {{user.nombres}}
            <br>
            {{today | date:'dd/MM/yyyy'}}
          </a>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button class="color" [routerLink]="['/login']" mat-menu-item>
              <a
              [routerLink]="['/login']">
                Cerrar sesión
              </a>
            </button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill >
      <mat-sidenav #sidenav mode="over">
        <a mat-button style="height: 0; position: absolute;"></a>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/login']">
            Cerrar sesión
          </a>
        </mat-nav-list>
      </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container container-principal">
        <mat-card>
            <div class="row">
              <div class="col-3">
              </div>
              <div class="col-6 central titulo" ng-controller="data">
                {{data[elegido].nombre}}
              </div>
              <div class="col-3">
              </div>
            </div>
        </mat-card>
        <div class="container subtitulo">
          ¡Muchas gracias por confiar en nosotros!
        </div>
        <div class="container informacion">
          Tu evaluación ha culminado con éxito, dentro de unos días enviaremos tus resultados por correo.
        </div>
        <div class="botonfinal container">
            <button class="boton" mat-flat-button [routerLink]="['/login/home']">
              Regresar a evaluaciones &#8250;
            </button>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>