<mat-toolbar class="navBar  resizeLogo">
  <a href={{websiteRonald}} target="_blanck">
    <img class="imagen_central" src="assets/imagenes/Ronald-Career-Service-Group-Logo.png">
  </a>
</mat-toolbar>
<button class="botonLogin resizeButton" routerLink="/login">
  <a class="hidden-xs">Login</a>
  <img style="padding-left: 7%" src="src/assets/iconos/login-variant.png">
</button>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src={{carouselLink1}} alt="First slide">
      <div style="text-align: left" class="carousel-caption d-md-block">
        <div class="carrucelTitle">
          <div style="display: inline;">
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div>Brindamos una asesoría personalizada y competitiva</div>
          </div>
        </div>
        <button class="carrucelBtn" routerLink="/buyBox">
          <div style="text-align: center">
            Deseo evaluarme
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </button>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src={{carouselLink2}} alt="Second slide">
      <div style="text-align: left" class="carousel-caption d-md-block">
        <div class="carrucelTitle">
          <div style="display: inline;">
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div>Contamos con profesionales de primer nivel para orientarte</div>
          </div>
        </div>
        <button class="carrucelBtn" routerLink="/buyBox">
          <div style="text-align: center">
            Deseo evaluarme
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </button>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src={{carouselLink3}} alt="Third slide">
      <div style="text-align: left" class="carousel-caption d-md-block">
        <div class="carrucelTitle">
          <div style="display: inline;">
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div class="glyphicon glyphicon-chevron-right"></div>
            <div>Contamos con el catálogo de evaluaciones más destacadas del mercado</div>
          </div>
        </div>
        <button class="carrucelBtn" routerLink="/buyBox">
          <div style="text-align: center">
            Deseo evaluarme
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </button>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span style="font-size: 4vw;" class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span style="font-size: 4vw;" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<div class="titulo">Contamos con el catálogo de evaluaciones profesionales más destacadas del mercado</div>

<div class="titleLine"></div>

<!--Inicio del Expansion panel de evaluaciones-->

<div class="acordion">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let evaluacion of evaluacionArray">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b class="titleAccordion">{{evaluacion.name}}</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="contentTextAccordion">{{evaluacion.detail}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!--Fin del Expansion panel de evaluaciones-->
<!--
<ul>
  <li *ngFor="let evaluacion of evaluacionArray">
    <div class="contenedor">
      <p class="brEspace"></p>
      <div class="contain">
        <b>{{evaluacion.name}}</b>
        <p class="textContain">{{evaluacion.detail}}</p>
      </div>
      <p class="brEspace"></p>
    </div>
  </li>
</ul>
-->
<br>
<div class="titulo">Ofrecemos paquetes estratégicamente diseñados para ofrecerle una evaluación personalizada</div>
<div class="titleLine"></div>

<div class="cardContent">

  <div class="card-deck">

    <div class="card" *ngFor="let paquete of paqueteArray">
      <div class="card-body contenedorBox">
        <div class="TituloBox tituloBox">
          <b>{{paquete.title}}</b>
        </div>
        <div class="subTituloBox">
          <b>{{paquete.subtitle}}</b>
        </div>
        <div class="titleLine2"></div>
        <div class="textoBox">{{paquete.detail}}</div>
        <div class="dctoBox">
          <b>{{paquete.discount}}</b>
        </div>
      </div>      
      <div class="card-footer">
        <!-- Envía al buy-box el id del paquete seleccionado -->
        <button (click)="sendIdBox(paquete.id)" class="botonBox" routerLink="/buyBox">Adquirir</button>
      </div>
    </div>

  </div>
</div>
<div class="endContent">
  <div style="color: black">¿Tienes un requerimiento adicional? ¿Necesitas asesoría especializada para tus trabajadores?</div>
  <div >
    <a class="contactUs" routerLink="/contacto"><b>Contáctanos para obtener mayor información</b></a>
  </div>
</div>
<br>

<footer class="footer">
  <div class="columns" style="margin-left: 5%">

    <div class="column items">
      <li>INFORMACIÓN</li>
      <li class="font_green">info@ronald.com.pe</li>
      <li class="font_grey">T: 51-1-321-4413</li>
      <li class="font_green">Av. Javier Prado Oeste 757, Of. 2005</li>
      <li class="font_grey">Magdalena - Lima 17 PERÚ</li>
    </div>

    <div class="column font_grey items">
      <li style="color: white">NUESTROS VALORES</li>
      <li>La innovación</li>
      <li>La transparencia</li>
      <li>El compromiso</li>
      <li>El amor al servicio</li>
    </div>

    <div class="columns icons items">
      <br>
      <img src="src/assets/imagenes/fb.png">
      <img style="margin-left: 20px" src="src/assets/imagenes/linkedin.png">
      <img style="margin-left: 20px" src="src/assets/imagenes/twitter.png">
      <img style="margin-left: 20px" src="src/assets/imagenes/youtube.png">
    </div>
  </div>
  <br>
  <li style="color: #505050; margin-left: 7%">@2017 Ronald, Career Services Group</li>
</footer>

