.navBar{
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.90);
  border-style: none none solid;
  border-color: #BBBBBB;
  text-align: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}
.carousel{
  margin-top: 70px;
}
.imagen_central{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.contenedorImagen{
  height: 100%;
  width: 90%;
  border-style: solid;  
}
.botonLogin{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: #0F7001;
  font-family: poppins;
  color: white;
  height: 70px;
  line-height: 70px;
  width: 15%;
  border-style: none none solid;
  border-color: #BBBBBB;
  text-align: center;
  outline: none;
}
.carousel-indicators{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
ol.carousel-indicators li{
  height: 15px;
  width: 15px;
  background-color: white;
  margin: 5px;
  border-radius: 50%;
}
ol.carousel-indicators li.active {
  height: 15px;
  width: 15px;
  background-color: #168F04;
  border-radius: 50%;
}
@media (max-width: 500px){
  .titulo{
    font-size: 12px;
    color: #0F7001;
    line-height: 4vw;
    font-family: poppins;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 100;
  }
  .hidden-xs{
    display: none !important;
  }
  .resizeLogo{
    height: 50px;
  }
  .resizeButton{
    height: 50px;
    line-height: 50px;  
  }
  .carousel{
    margin-top: 50px;
  }
  .contentTextAccordion{
    padding-left: 2.5%;
  }
  .carrucelBtn{
    font-size: 2vw;
    line-height: 5vw;
    height: 5vw;
    border-width: 0.5px;
    padding-top: 0.5vw;
  }
  .carrucelTitle{
    position: relative;
    font-family: poppins;
    border-color: white;
    font-size: 3.5vw;
    text-align: left;
    line-height: 120%;
}
ol.carousel-indicators li{
  height: 5px;
  width: 5px;
  background-color: white;
  margin: 3px;
  border-radius: 50%;
}
ol.carousel-indicators li.active {
  height: 5px;
  width: 5px;
  background-color: #168F04;
  border-radius: 50%;
}
}
@media (min-width:700px) and (max-width: 1000px){
  .carousel{
    margin-top: 70px;
  }
}
@media (min-width:700px){
  .carrucelBtn{
    margin-bottom: 8%;
    line-height: 3vw;    
    height: 3vw;
    border-width: 1px;
    font-size: 1vw;
    width: 25%;
  }
}
@media (min-width:500px){
  .contentTextAccordion{
    padding-left: 1%;
  }
  .titulo{
    color: #0F7001;
    font-size: 2vw;
    line-height: 3vw;
    font-family: poppins;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 100;
  }
}
.botonLogin:hover{
    background-color: #168F04;
}
.carrucelTitle{
    position: relative;
    margin-bottom: 1%;
    font-family: poppins;
    border-color: white;
    font-size: 3.5vw;
    text-align: left;
    line-height: 120%;
}
.carrucelBtn{
  background-color: #0F7001;
  position: relative;
  color: white;
  font-family: poppins;
  border-style: solid;
  border-color: white;
  text-align: left;
  outline: none;
}
.carrucelBtn:hover{
  background-color: #168F04;
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
}

  .titleLine{
    border-bottom: 2px solid rgb(224, 224, 224);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
  }
  .contenedor{
    position: relative;
    border-style: 2px solid;
    border-color: #BDBDBD;
    height: auto;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);       
  }
  .contain{
    border-style: none none none solid;
    border-color: #0F7001;
    margin-right: 3%;
    padding-left: 2%;
    margin-left: 2%;
    color: #0F7001;
    font-size: 1.5vw;
    font-family: poppins;
  }
  .textContain{
    color: #000000;
    font-size: 1.1vw;
    margin-right: 4%;
    line-height: 1.5vw;
    font-family: poppins;
  }
  .brEspace{
    height: 0.5vw;
  }
  .boxes{
    margin-top: 2%;
    
  }
  .nextScroll{
    background: white;
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
  }
  .nextScroll:hover{
    background: rgb(238, 238, 238);    
  }
  .contenedorBox{
    background: rgba(235, 235, 235, 1);
    height: auto; 
  }
  .contenedorBox:hover{
    background: white;
  }
  .tituloBox{
    color: #0F7001;
    font-family: poppins;
    font-size: 25px; 
    line-height: 125%;
  }
  .subTituloBox{
    color: black;
    font-family: poppins;
    font-size: 12px;
    width: 100%;
    line-height: 150%;
  }
  .titleLine2{
    border-bottom: 2px solid rgb(199, 198, 198); 
    padding-top: 2%;
  }
  .textoBox{
    color: #383838;
    font-size: 12px;
    font-family: poppins;
    padding-top: 10%;
    padding-bottom: 10%;
    font-style: italic;
  }
  .botonBox{
    color: white;
    background: #0F7001;
    font-family: poppins;
    width: 100%;
    height: 100%;
    border-style: none;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .botonBox:hover{
    background: #168F04;
  }
  .cardContent{
    margin-left: 5%;
    margin-right: 5%;
  }
  .card{
    border-radius: 0%;
    border-style: solid;
    border-color: #BDBDBD;
  }
  .card-footer{
    padding: 0%;
  }
  .card-deck{
    margin-top: 2%;
  }
  .dctoBox{
    text-align: right;
    color: #0F7001;
    font-size: 15px;
    font-family: poppins;
  }
  .endContent{
    text-align: center;
    font-family: poppins;
    background: rgba(235, 235, 235, 1);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    border-style: none none solid;
    border-color: #0F7001;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer{
    background-color: #1D1D1D;
    color: white;
    font-family: poppins;
    font-size: 15px;
    list-style-type: none; 
    padding-bottom: 2%;   
}
.font_green{
    color: #168F04;
}
.font_grey{
    color: #BBBBBB;
}
.icons{
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
}
.items{
    margin-left: 2%;
}
.acordion{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}
.contentTextAccordion{
  border-style: none none none solid;
  border-color: #0F7001;
}
.titleAccordion{
  color: #0F7001;
}
.contactUs{
  color: #0F7001;
}
.contactUs:hover{
  text-decoration: none;
}
  








