@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;
    
    @media (max-#{$dimension}: #{$min-breakpoint}) {
      font-size: $min;
    }
    
    @if $max {
      $max-breakpoint: $max / $responsive-unitless * 100;
      
      @media (min-#{$dimension}: #{$max-breakpoint}) {
        font-size: $max;
      }
    }
    
    @if $fallback {
      font-size: $fallback;
    }
    
    font-size: $responsive;
}
.evtit{
    @include responsive-font(1.1vw, 12px, 20px)
}
.evaluaciones-container{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 85vh;
}
.evaluaciones-header{
    border-bottom: 1px solid;
    padding-bottom: 3px;
}
.header{
    font-size: 30px;
    margin-bottom: 20px;
}
.evaluaciones-description{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    text-align: justify;
}
.alinear .mat-expansion-panel-header-title, 
.alinear .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.titulo{
    font-size: 30px;
    color: #0F7001;
}
.centro{
    align-items: center;  
}
.mas{
    background-color: #0F7001;
    font-size: 200%;
}
.alinear .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.mat-panel-description{
    text-align: right;
}
.mat-progress-bar{
    width: 150px;
    border-radius: 20px 20px 20px 20px;
}
.derecha{
    text-align: right;
}
.boton{
    background-color: #0F7001;
    font-size: 11px;
    color: white;
    border-radius: 10px 10px 10px 10px;
}
.adquirir{
    color: #0F7001;
    font-size: 12px;
    margin-right: -15px;
}
.example-spacer {
    float: 1 1 auto;
}