<div class=" container evaluaciones-container">
  <div class="container header">
    Mis Evaluaciones
  </div>
  <div class="container evaluaciones-header">
    <div class="row centro">
      <div class="col-8 titulo" ngController="user">
        Hola {{user.nombres}}
      </div>
      <div class="derecha col-4">
        <div class="button-row row">
          <div class="col-9 adquirir">
            Adquirir más<br>
            evaluaciones
          </div>
          <div class="col-2">  
            <button class="mas" mat-mini-fab>+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container evaluaciones-description">
    Lorem ipsum dolore et amun non sequent ipsum et anima et orbe. Eiusmodi sit amet, certus sum quod scribatur iuxta scheduled ex parte explere. Spero autem et scribis et fruar Quod non pugnes contra eum scripsit, quod hanc tam male
  </div>
  <div class="container evaluaciones-list">
    <mat-accordion class="alinear">
      <mat-expansion-panel *ngFor="let item of items; let i = index">
        <mat-expansion-panel-header [expandedHeight]="expandedHeight" [collapsedHeight]="collapsedHeight" (click) = "current = i">
              <mat-panel-title class="evtit">
                {{item.nombre}}
              </mat-panel-title>
              <mat-panel-description>
                <span class="example-spacer"></span>
                <mat-progress-bar mode="determinate" value={{progresion[i].progreso}} ngController="progresion">
                </mat-progress-bar>
              </mat-panel-description>
        </mat-expansion-panel-header>
          {{item.descripcion}}
        <div style="text-align: right;">
          <a class="boton" mat-flat-button (click)="elegir(i)" [routerLink]="['/login/evaluacion']">Iniciar la evaluacion</a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>