@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-green);
$my-theme-accent: mat-palette($mat-pink,A200,A100,A400);
$my-theme-warn:    mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);

$custom-typography: mat-typography-config(
    $font-family: 'poppins'
);
@include mat-core($custom-typography);

// Alternative

$alt-primary: mat-palette($mat-green,900);
$alt-accent:  mat-palette($mat-green,900);

$alt-theme: mat-light-theme($alt-primary, $alt-accent);

.alternative {
    @include angular-material-theme($alt-theme);
}