<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" [routerLink]="['./misevaluaciones']">
      <img src="assets/imagenes/Ronald-Career-Service-Group-Logo.png" class="imagen_central">
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a class="tbt" mat-button
      [routerLink]="['./misevaluaciones']"
      [routerLinkActive]="['active']">
        <img class="icon" src="https://www.symbols.com/gi.php?type=1&id=1842&i=1"/>
        <br>
        Mis Evaluaciones
      </a>
      <a class="tbt" mat-button 
      [routerLink]="['./micuenta']"
      [routerLinkActive]="['active']">
        <img class="icon" src="http://simpleicon.com/wp-content/uploads/user1-64x64.png"/>
        <br>
        Mi Cuenta
      </a>
      <a mat-button 
      [matMenuTriggerFor]="menu"
      yPosition="below" ngController="user">
        {{user.nombres}}
        <br>
        {{today | date:'dd/MM/yyyy'}}
      </a>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button class="color" mat-menu-item
        [routerLink]="['/login']">
          <a
          [routerLink]="['/login']">
            Cerrar sesión
          </a>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill >
  <mat-sidenav #sidenav mode="over">
    <a mat-button style="height: 0; position: absolute;"></a>
    <mat-nav-list>
      <a class="tbt" mat-list-item
      [routerLink]="['./misevaluaciones']">
        Mis Evaluaciones
      </a>
      <a class="tbt" mat-list-item  
      [routerLink]="['./micuenta']">
        Mi Cuenta
      </a>
      <a mat-list-item [routerLink]="['/login']">
        Cerrar sesión
      </a>
      <a (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
