.centro{
  align-items: center;  
}
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar-row{
  height:70px;
}
mat-toolbar{
  height:70px;
}
.navbar-brand{
  height: 85%;
}
a{
  text-decoration: none;
  padding: 0 10px 0 10px;
}
.icon{
  height: 20px;
}
.tbt:focus, .tbt:hover, .tbt:active{
  background-color: #0F7001;
  color: white;
}
.imagen_central{
  height: 100%;
}