.titleBox{
    color: black;
}
.obl{
    color: #6D0000;
}
.titleLine{
    border-bottom: 2px solid rgb(224, 224, 224);
    margin-top: 5px;
  }
.label{
    text-align: left; 
    color: #4B4B4B;
    padding-left: 0;
}
.input{
    border-style: solid;
    border-radius: 0;
    height: 37px;
    font-family: poppins;
}
.column{
    margin-top: -0.5%;
}
.input::placeholder{
    color: #AFAFAF;
}
.label em{
    color: #6D0000;   
}
input[type=date]:invalid::-webkit-datetime-edit {
    color: #4B4B4B;
}
.containerButtons{
    text-align: center;
    width: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.btnCancel{
    background-color: white;
    color: #0F7001;
    outline: none;
    font-family: poppins;
    width: 49.5%;
    height: 35px;
    border-style: solid;
    border-color: #0F7001;
    border-width: 0.5px;
    margin-right: 0.5%;
}
.btnCancel:hover{
    background-color: rgb(230, 230, 230);
}
.btnNext{
    background-color: #0F7001;
    color: white;
    outline: none;
    font-family: poppins;
    width: 49.5%;
    height: 35px;
    border-style: solid;   
    border-color: #0F7001;
    margin-left: 0.5%;

}
.btnNext:hover{
    background-color: #168F04;
}
input:focus{
    border-color: #168F04;
}
@media (max-width:500px){
    .containerButtons{
        width: 100%;
    }
}