<div class="titleBox"><b>Registro de datos personales</b></div>
<div class="titleBox">Por favor, llene los siguientes campos</div>
<div class="obl">(*) Campos obligatorios</div>
<div class="titleLine"></div>

<br>

<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Nombres<em> *</em></label>
      <div class="control">
        <input class="input" type="text" placeholder="Nombres">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label">Apellido paterno<em> *</em></label>
      <div class="control">
        <input class="input" type="email" placeholder="Apellido paterno">
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Apellido materno<em> *</em></label>
      <div class="control">
        <input class="input" type="text" placeholder="Apellido materno">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label">Fecha de nacimiento<em> *</em></label>
      <div class="control">
        <input class="input" type="text" onfocus="(this.type='date')" required="" placeholder="Fecha de nacimiento">
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">País de nacimiento<em> *</em></label>
      <div class="control">
        <input list="countrylist" class="input" type="text" placeholder="País de nacimiento" ng-model="userDoc.country">
        <ngcountries></ngcountries>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label">Dirección de residencia en Perú<em> *</em></label>
      <div class="control">
        <input class="input" type="email" placeholder="Dirección de residencia en Perú">
      </div>
    </div>
  </div>
</div>


<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Departamento<em> *</em></label>
      <div class="control">
        <input class="input" type="text" placeholder="Departamento">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label">Provincia<em> *</em></label>
      <div class="control">
        <input class="input" type="email" placeholder="Provincia">
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Distrito<em> *</em></label>
      <div class="control">
        <input class="input" type="text" placeholder="Distrito">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label">Celular<em> *</em></label>
      <div class="control">
        <input class="input" type="tel" placeholder="Celular">
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Email<em> *</em></label>
      <div class="control">
        <input class="input" type="email" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label">Repetir Email<em> *</em></label>
      <div class="control">
        <input class="input" type="email" placeholder="Repetir email">
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Contraseña<em> *</em></label>
      <div class="control">
        <input class="input" type="password" placeholder="Contraseña">
      </div>
    </div>
  </div>
  <div class="column">
    <div class="field">
      <label class="label">Documento de identidad<em> *</em></label>
      <div class="control">
        <input class="input" type="password" placeholder="Documento de identidad">
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Empresa donde trabaja</label>
      <div class="control">
        <input class="input" type="text" placeholder="Seleccionar empresa">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="¿No está en la lista? Escríbala aquí">
      </div>
    </div>
  </div>


  <div class="column">
    <div class="field">
      <label class="label">Cargo de trabajo</label>
      <div class="control">
        <input class="input" type="email" placeholder="Seleccionar cargo">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="¿No está en la lista? Escríbala aquí">
      </div>
    </div>
  </div>
</div>

<div class="containerButtons">
  <button class="btnCancel"><span class="glyphicon glyphicon-chevron-left"></span>Volver</button>
  <button class="btnNext" matStepperNext id="validator" formControlName="secondCtrl2">
    Siguiente<span class="glyphicon glyphicon-chevron-right"></span></button>
</div>